# Angular
.angular/
dist/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
